<FilesMatch "\.(json|jsonl)$">
  Require all denied
</FilesMatch>
<Files "config.php">
  Require all denied
</Files>
<Files "config.sample.php">
  Require all denied
</Files>
<Files "lib.php">
  Require all denied
</Files>
